<app-navbar></app-navbar>
<div class="container">
  <app-admin-sidebar></app-admin-sidebar>
  <div class="main-container">
    <div *ngFor="let order of orders" class="order">
      <h3>Order ID: {{ order._id }}</h3>
      <p>Name: {{ order.name }}</p>
      <p>Email: {{ order.email }}</p>
      <p>Address: {{ order.address }}</p>
      <p>Status:
        <select [(ngModel)]="order.status">
          <option *ngFor="let status of statusOptions" [value]="status.value">
            {{ status.label }}
          </option>
        </select>
        <button (click)="handleChangeStatus(order._id,order.status)">Change</button>
      </p>
      <p>Total Price: {{ order.totalPrice | currency:'VND' }}</p>
      <h4>Order Details:</h4>
      <table>
        <thead>
          <tr>
            <th>Item ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of order.CTHD">
            <td>{{ item._id }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.price | currency:'VND' }}</td>
            <td>{{ item.quantity }}</td>
          </tr>
        </tbody>
      </table>
      <hr>
    </div>

  </div>
</div>
<router-outlet></router-outlet>
