<div class="header-section">
  <h2 class="list-title">Products</h2>
</div>
<div class="pagination-controls">
  <button (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1">
    Previous
  </button>

  <button
    *ngFor="let page of [].constructor(totalPages); let i = index"
    (click)="changePage(i + 1)"
    [disabled]="currentPage === i + 1"
  >
    {{ i + 1 }}
  </button>

  <button
    (click)="changePage(currentPage + 1)"
    [disabled]="currentPage === totalPages"
  >
    Next
  </button>
</div>
<div class="container">
  <div class="card-list">
    <div *ngFor="let product of paginatedArrays" href="">
      <div
        class="card"
        *ngIf="!selectedCategory || product.categoryId === selectedCategory"
      >
        <a href="">
          <div class="card-thumbnail">
            <!-- Sử dụng property binding [src] -->
            <!-- <img [src]="imageUrl + product.image" alt="" /> -->
            <img [src]="imageUrl + product.image" alt="" /></div
        ></a>
        <div class="card-content">
          <div class="card-content__wrap">
            <p class="card-content__title">
              {{ product.name }}
            </p>
            <span class="card-content__views">
              {{
                product.price | currency : "VND" : "symbol-narrow" : "1.0-2"
              }}</span
            >
          </div>
          <!-- <button (click)="toggleCart(product)" class="card-actions">
            <img src="../../../assets/icons/add.png" alt="" />
          </button>
           -->
           <button (click)="toggleCart(product)" class="btn-primary">
            {{ isInCart(product) ? 'Remove from cart' : 'Add to cart' }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
