.container{
  display: flex;
}
.main-container {
  padding-top: 28px;
  padding-left: 36px;
  padding-right: 36px;
}
.form{
  margin-left: 40px;
}
label {
  font-size: 1.8rem;
  display: block;
  margin: 8px 0;
}
input[type="text"],
input[type="number"],
input[type="file"],
select,
option {
  display: block;
  line-height: 32px;
  min-width: 500px;
  font-size: 1.4rem;
  margin-bottom: 32px;
}
